# numpy
# pandas
faiss-cpu
nltk
# datasets
# tqdm
fastapi
uvicorn
# transformers
sentence-transformers
langchain
langchain_community
# tiktoken
# chromadb
openai
keybert  # Include only if needed for keyword extraction
gunicorn  # Include only for production deployment


# accelerate
# llama-index # Optional but recommended for RAG functionality.

# [https://rag-application-443016.uc.r.appspot.com]
# pip install -r requirements.txt

#Frontend React Installation:
#npm create vite@latest . -- --template react
#npm install
#npm run dev